*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
} 

body {
  background-color: #282c34;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
